jmespath~=0.10.0
six~=1.15.0
websocket-client~=0.57.0
pyserial~=3.4
wxPython~=4.1.0
xlrd~=1.2.0
Pillow~=7.2.0
numpy~=1.19.2
pip~=20.2.3
opencv-python~=4.4.0.44
gitdb~=4.0.5
cffi~=1.14.3
PyQt5~=5.15.1
future~=0.18.2
wheel~=0.35.1
cryptography~=3.1.1
pyzmq~=19.0.2
gevent~=20.9.0
parso~=0.7.1
jedi~=0.17.2
pytz~=2020.1
toml~=0.10.1
tqdm~=4.50.1
requests~=2.24.0
PyYAML~=5.3.1
dukpy~=0.2.3
smmap~=3.0.4
setuptools~=50.3.0
PsychoPy~=2020.2.4.post1
scipy~=1.5.2
matplotlib~=3.3.2
greenlet~=0.4.17
psutil~=5.7.2
python-gitlab~=2.5.0
MarkupSafe~=1.1.1
pandas~=1.1.3
python-dateutil~=2.8.1
tables~=3.6.1
numexpr~=2.7.1
modulegraph~=0.18
macholib~=1.14
py2app~=0.22
pyglet~=1.5.7
xarray~=0.16.1
certifi~=2020.6.20
chardet~=3.0.4
esprima~=4.0.1
moviepy~=1.0.3
proglog~=0.1.9
imageio~=2.9.0
decorator~=4.4.2
urllib3~=1.25.10
altgraph~=0.17
openpyxl~=3.0.5
jdcal~=1.4.1
msgpack~=1.0.0
SoundFile~=0.10.3.post1
sounddevice~=0.4.1
glfw~=2.0.0
astunparse~=1.6.3
idna~=2.10
template~=0.5.1
Jinja2~=2.11.2
pycparser~=2.20
questplus~=2019.4
cycler~=0.10.0
pyparsing~=2.4.7
kiwisolver~=1.2.0